.post {
  border: 1px solid black;
  margin-bottom: 30px;
  padding: 10px;
  min-height: 200px;
  width: 100%;
}
.post__item {
  margin-bottom: 30px;
}
.post__item:last-child {
  margin-bottom: 0;
}
.post__title {
  font-weight: bold;
}
.post__fav {
  margin: 0 auto;
}